<div data-logos class="legacy-057 layout-grid">
  <div class="legacy-058">
    <img
      src="assets/images/logos/cepsa.png"
      alt="Cepsa"
      width="360"
      height="116"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/grupo-sicor.png"
      alt="Grupo Sicor"
      width="360"
      height="106"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/renault.png"
      alt="Renault"
      width="95"
      height="120"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/sap.png"
      alt="SAP"
      width="216"
      height="120"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/dhl.png"
      alt="DHL"
      width="360"
      height="84"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/lidl.png"
      alt="Lidl"
      width="250"
      height="120"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/konica-minolta.png"
      alt="Konica Minolta"
      width="189"
      height="120"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/navantia.png"
      alt="Navantia"
      width="360"
      height="81"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/hero.png"
      alt="Hero"
      width="332"
      height="120"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/osborne.png"
      alt="Osborne"
      width="296"
      height="120"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/jungheinrich.png"
      alt="Jungheinrich"
      width="360"
      height="78"
      class="legacy-059"
    />
  </div>
  <div class="legacy-058">
    <img
      src="assets/images/logos/saica.png"
      alt="Saica"
      width="205"
      height="120"
      class="legacy-059"
    />
  </div>
</div>
